.primary-bg {
    background-color: #04d9ff;
}

.black-bg {
    background-color: #000000;
}

.grey-bg {
    background-color: #414141;
}

.primary-text {
    color: #04d9ff;
}

.white-text {
    color: #ffffff;
}